* {
  font-family: "Poppins", sans-serif;
}
#navbar ul li {
  display: inline-block;
}
#navbar ul li a {
  text-decoration: none;
  border: 1px solid salmon;
  border-radius: 2px;
  margin-right: 20px;
}
#navbar {
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
}
.header p {
  text-align: center;
}
h2 {
  text-align: center;
}
.caption {
  text-align: center;
}
footer {
  text-align: center;
}
